article
  h1.user フォローユーザー一覧
  = render partial: 'relation_users', locals: { list: @followings, list_type:'following', list_title: 'フォロー' }
= render partial: 'shared/user_bottom_nav', locals: { user: current_user }
