/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$base-color: #F2F5F6;
$middium-color: #8D99AF;
$thema-color: #DE3A5D;
$vivid-color: #FF436B;
$vivid-hover: #ff7a97;
$dark-color: #B82C5C;
$font-color: #412B2D;
$font-color-light: #8D99AF;
$font-placeholder: #cccccc;
$icon-color: #ff938b;
$border-color: #DAD8D4;
$focus-color: #33C3F0;
$focus-hover: #74ddfc;
$hover_box: #F2F5F6;


body {
  margin: 0;
  background-color: $base-color;
  color: $font-color;
  padding-top: 6rem;
}
#contents_container{
  padding-bottom: 4rem;
}
a {
  color: $font-color;
  transition:all 0.15s ease-out;
  text-decoration: none;
}
h1 {
  position: relative;
  padding-left: 1.2em;
  padding-bottom: 1rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  color: #7b6459;
  margin: 1.6rem 0;
  border-bottom: dashed 2px $border-color;
}
h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";
  font-weight: 900;
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  color: $icon-color;
}
h1.stamp:before {
  content: "\f5bf";
}
h1.user:before {
  content: "\f2bd";
}
.card_list .title h5,.raw_list .title h5,.title h5{
  border-left: solid 5px $icon-color;
  text-indent: 1rem;
  margin-right: 1rem;
}
.card_list li a {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
}
.button_box{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.button_box input[type="submit"],.button_box .button,.button_box .button2{
  margin: 0 1rem;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  margin: 0;
}
textarea {
  line-height: 1.6;
  letter-spacing: 0.1;
}
i {
  margin-right: 0.5rem;
}
.avatar {
  overflow: hidden;
}
.avatar img{
  width:100%;
  height: 100%;
  object-fit:cover;
}
.avatar i{
  margin: 0;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#img_field{
  height: 100%;
}
#img_field img,#cropper img {
  display: block;
  max-width: 100%;
}
.cropper-container{
  width: 100%;
}
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
#avatar_btn{
  display: block;
  max-width:14rem;
  padding: 0.5rem;
  margin: 2rem auto;
  background: #fff;
}
.image_form{
  display: none;
}
.notice{
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.5em;
  color: #454545;
  margin: 2rem 0;
}
.alert{
  background: #ffdfef;
  box-shadow: 0px 0px 0px 5px #ffdfef;
  border: dashed 1px #fe96c2;
  padding: 0.5em;
  color: #454545;
  margin: 2rem 0;
}
.error_explanation{
  background: #ffdfef;
  box-shadow: 0px 0px 0px 5px #ffdfef;
  border: dashed 1px $vivid-color;
  padding: 1% 2%;
  color: #454545;
  margin: 2rem 0;
}
.error_explanation h3{
  color: $vivid-color;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.checkbox_raw {
  margin-bottom: 15px;
}
.checkbox_raw input[type="checkbox"]{
  margin-bottom: 0;
}
.checkbox_raw label {
  display: inline-block;
  padding-left: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.select_raw select {
  margin-left:0.5rem;
  margin-right:0.5rem;
}
.select_raw select:first-child {
  margin-left:0;
}
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

input,textarea {
  @include placeholder($font-placeholder);
}
.hidden {
  display: none;
}
.disable input,.disable select{
  pointer-events : none;
  background: #cccccc;
}
.attention {
  color:$vivid-color;
}
.field_with_errors {
  display: inline;
}
.field_with_errors input[type="email"],
.field_with_errors input[type="number"],
.field_with_errors input[type="search"],
.field_with_errors input[type="text"],
.field_with_errors input[type="tel"],
.field_with_errors input[type="url"],
.field_with_errors input[type="password"],
.field_with_errors select,
.field_with_errors textarea{
  border-color: #f00;
}
.hover_box {
  transition:all 0.3s ease-out;
}

/* ヘッダー */
#top_nav{
  background: #fff;
  border-bottom: solid 1px $border-color;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
#top_nav .container{
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.drawer-nav{
  background: $icon-color!important;
  width: auto!important;
  min-width: 18rem;
}
.drawer--right .drawer-nav{
  right: -18rem!important;
}
.drawer--right.drawer-open .drawer-hamburger{
  right: 18rem!important;
}
.drawer--right.drawer-open .drawer-nav{
    right: 0!important;
}
.drawer-overlay{
  background: rgba(0,0,0,0.2)!important;
}
#top_logo,#top_logo_drawer{
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  color: #7b6459;
}
#top_logo_drawer{
  display: none;
  position: relative;
}
.drawer-hamburger{
  display: none!important;
}
#top_nav .nav-bar {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 1.6rem 0;
}
#top_nav .nav-bar li{
  margin-left: 2rem;
}
.button-primary.edit{
  background: $focus-color;
  &:hover {
    background: $focus-hover;
  }
}
.button-primary.delete{
  background: $vivid-color;
  &:hover {
    background: $vivid-hover;
  }
}
.button2:hover{
  color: $vivid-color;
}

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.pagination span{
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: solid 1px $border-color;
  box-sizing: border-box;
  position: relative;
}
.pagination a{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 3.2rem;
  &:hover{
    color: $icon-color;
  }
}
.pagenation_left,.pagenation_right{
  width: 3.2rem;
}
.pagination .current{
  background: $icon-color;
  color: #fff;
  border: none;
}
#crop_enter{
  margin: 2rem auto 0;
  display: block;
}
#bottom_nav{
  display: flex;
  width: 100%;
  padding: 1rem 0;
  justify-content: center;
}
#bottom_nav a{
  padding: 0.8rem 1.6rem;
  background: #fff;
}
@media screen and (max-width: 1024px) {
  // #top_nav{
  //   display: block;
  //   overflow: hidden;
  //   height: 5rem;
  // }

}
@media screen and (max-width: 896px) {
  .container{
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
  }
  #top_nav{
    padding: 0.8rem 1.6rem;
  }
  #top_logo{
    display: none;
  }
  #top_logo_drawer{
    display: block;
    font-size: 2.4rem;
  }
  .drawer-hamburger{
    display: block!important;
    padding: 3px 15px 10px!important;
  }
  #top_nav .container{
    display: block;
  }
  #top_nav .nav-bar{
    display: block;
    float: none;
  }
  #top_nav .nav-bar li{
    margin-left: 0;
    padding: 0;
  }
  #top_nav .nav-bar li a{
    padding: 1.2rem 1rem 1.2rem 2rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
  .drawer-menu a{
    color: #000;
    font-size: 1.6rem;
    &:hover{
      color: #fff;
    }
  }
  /* pet index */
  .pets .status li:first-child{
    width: 60%;
    max-width: 20rem;
  }
  .pets .status li:last-child{
    width: 30%;
  }
  /* pet profile */
  .pet_profile .avatar{
    width: 160px;
    height: 160px;
  }
  .pet_profile .left{
    margin-bottom: 2rem;
  }
  .pet_profile .right{
    padding: 0 1rem;
  }
  #show_profile .right .raw{
    display: flex;
    flex-wrap: wrap;
  }
  #show_profile .right .raw .name, #show_profile .right .raw .edit{
    display: block;
  }
  #show_profile .right .raw .name{
    line-height: normal;
    margin: 0 0 0.6rem;
  }
  .pet_profile#show_profile .right .raw .edit{
    line-height: normal;
    margin: 0 0 1.4rem;
  }
  #show_profile .right .raw .edit a:first-child{
    margin-left: 0;
  }
  #show_profile .button2, .pet_profile .button2{
    padding: 0.8rem 3rem;
  }
  .pet_profile#show_profile .comment{
    margin: 4rem 3%;
  }
  #pet_menu_nav li a,#user_menu_nav li a{
    padding: 0.8rem 1.5rem;
  }
  .card_list li a{
    padding: 6%;
  }

  /* user profile */
  .user_profile {
    padding: 1rem 1rem 2rem;
  }
  .user_profile .avatar{
    margin-bottom: 2rem;
  }
  #user_menu_nav ul{
    display: table;
    width: 100%;
  }
  #user_menu_nav li{
    display: table-cell;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 0 0.5rem;
  }
  #user_menu_nav li a{
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .pets_list .left_column{
    padding-right:2rem;
  }
  .card_list li{
    width: 50%;
  }
  .card_list li .details .name{
    font-size: 1.6rem;
  }
  .user_profile {
    padding: 1rem 1rem;
  }
  #relation_users .relation_box{
    display: block;
    float: left;
    width: 100%;
  }
  #relation_users .relation_box i{
    float: left;
  }
  #relation_users .relation_box span{
    margin-right: 0;
  }

  #relation_users .relation_box a{
    width: 48%;
    float: left;
    margin-right: 2%;
    margin-top: 1rem;
    box-sizing: border-box;
  }
  #relation_users .relation_box a:last-child{
    margin-right: 0;
  }
  .content .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 1rem;
  }
  .content .icon i{
    line-height: 28px;
    font-size: 1.6rem;
  }
  .contents_list .content .left_column{
    margin-right: 0;
  }
  .contents_list .content .left_column .title{
    margin: 0;
  }
  .contents_list .content .left_column .time{
    width: auto;
  }
  .contents_list .content .center_column .user_name{
    font-size: 1.2rem;
  }
  .contents_list .content .center_column .owner_avatar{
    margin-right: 0.5rem;
    letter-spacing: 0;
  }

}
@media screen and (max-width: 480px) {
  body {
    padding-top: 4.6rem;
  }
  .container{
    padding: 0 1rem;
  }
  #top_nav{
    padding: 0.5rem 1.5rem;
  }
  .drawer-hamburger{
    padding: 0px 15px 10px!important;
  }
  .drawer--right .drawer-nav{
    right: -18.5rem!important;
  }
  .drawer-nav{
    padding: 0!important;
  }
  /* pet index */
  .pets_list .left_column{
    width: 80px;
  }
  .pets_list .left_column img, .pets_list .left_column div{
    width: 80px;
    height: 80px;
  }
  .pets .status{
    display: block;
    overflow: hidden;
  }
  .pets .status li{
    display: block;
    width: 100%;
    margin: 0;
    max-width: none;
    padding-bottom:0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .pets .status li:first-child,.pets .status li:last-child{
    width: 100%;
  }
  .pets .status li:last-child{
    padding-bottom:0;
  }
  /* pet profile */
  .pets .pet_profile{
    padding: 1rem 0;
  }
  .pet_profile .left{
    margin-bottom: 2.4rem;
  }
  .pet_profile .avatar{
    width: 192px;
    height: 192px;
  }
  #pet_menu_nav ul{
    display: table;
    width: 100%;
  }
  #pet_menu_nav li{
    display: table-cell;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
  #pet_menu_nav li a{
    width: 100%;
  }

  /* card_list */

  .card_list li{
    width: 100%;
  }
  .card_list li a{
    padding: 1.5rem;
  }
  .card_list li .avatar{
    max-width: 64px;
    margin-right: 5%;
  }
  .card_list li .details .name{
    font-size: 1.8rem;
  }

  /* user profile */

  #user_menu_nav ul{
    display: table;
    width: 100%;
  }
  #user_menu_nav li{
    display: table-cell;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
  #user_menu_nav li a{
    width: 100%;
  }

  .users_list .left_column {
    width: 64px;
  }
  .users_list .left_column img, .users_list .left_column div{
    width: 64px;
    height: 64px;
  }

  #relation_users .relation_box{
    display: block;
    float: left;
    width: 100%;
  }
  #relation_users .relation_box i{
    float: left;
  }
  #relation_users .relation_box span{
    margin-right: 0;
  }

  #relation_users .relation_box a{
    width: 100%;
    float: left;
    margin-right: 0;
    box-sizing: border-box;
  }
  #relation_users .relation_box a:last-child{
    margin-right: 0;
  }
  .contents_list article.date {
    padding: 1.2rem;
  }
  .contents_list .content .center_column .user_name{
    display: none;
  }
  .contents_list .content .left_column .time{
    margin-right: 1rem;
  }
  .contents_list .content .left_column .title{
    font-size: 1.4rem;
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .content .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
  .content .icon i{
    line-height: 24px;
    font-size: 1.4rem;
  }
  .content .right_column a {
    margin-left: 1rem;
  }
}
