/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$base-color: #F2F5F6;
$middium-color: #8D99AF;
$thema-color: #DE3A5D;
$vivid-color: #FF436B;
$vivid-hover: #ff7a97;
$dark-color: #B82C5C;
$font-color: #412B2D;
$font-color-light: #8D99AF;
$font-placeholder: #cccccc;
$icon-color: #ff938b;
$border-color: #DAD8D4;
$focus-color: #33C3F0;
$focus-hover: #74ddfc;
$hover_box: #F2F5F6;


body {
  margin: 0;
  background-color: $base-color;
  color: $font-color;
  padding-top: 6rem;
}
a {
  color: $font-color;
  transition:all 0.15s ease-out;
  text-decoration: none;
}
h1 {
  position: relative;
  padding-left: 1.2em;
  padding-bottom: 1rem;
  line-height: 1.4;
  color: #7b6459;
  margin: 1.6rem 0;
  border-bottom: dashed 2px $border-color;
}
h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";
  font-weight: 900;
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  color: $icon-color;
}
h1.stamp:before {
  content: "\f5bf";
}
h1.user:before {
  content: "\f2bd";
}
.card_list .title h5,.raw_list .title h5{
  border-left: solid 5px $icon-color;
  text-indent: 1rem;
  margin-right: 1rem;
}
.card_list li a {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
}
.button_box{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.button_box input[type="submit"],.button_box .button,.button_box .button2{
  margin: 0 1rem;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  margin: 0;
}
textarea {
  line-height: 1.6;
  letter-spacing: 0.1;
}
i {
  margin-right: 0.5rem;
}
.avatar {
  overflow: hidden;
}
.avatar img{
  width:100%;
  height: 100%;
  object-fit:cover;
}
.hidden {
  display: hidden!important;
}
#img_field{
  height: 100%;
}
#img_field img,#cropper img {
  display: block;
  max-width: 100%;
}
.cropper-container{
  width: 100%;
}
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
#avatar_btn{
  display: block;
  max-width:14rem;
  padding: 0.5rem;
  margin: 2rem auto;
  background: #fff;
}
.image_form{
  display: none;
}
.notice{
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.5em;
  color: #454545;
  margin: 2rem 0;
}
.alert{
  background: #ffdfef;
  box-shadow: 0px 0px 0px 5px #ffdfef;
  border: dashed 1px #fe96c2;
  padding: 0.5em;
  color: #454545;
  margin: 2rem 0;
}
.error_explanation{
  background: #ffdfef;
  box-shadow: 0px 0px 0px 5px #ffdfef;
  border: dashed 1px $vivid-color;
  padding: 1% 2%;
  color: #454545;
  margin: 2rem 0;
}
.error_explanation h3{
  color: $vivid-color;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.checkbox_raw {
  margin-bottom: 15px;
}
.checkbox_raw input[type="checkbox"]{
  margin-bottom: 0;
}
.checkbox_raw label {
  display: inline-block;
  padding-left: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.select_raw select {
  margin-left:0.5rem;
  margin-right:0.5rem;
}
.select_raw select:first-child {
  margin-left:0;
}
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

input,textarea {
  @include placeholder($font-placeholder);
}
.hidden {
  display: none;
}
.disable input,.disable select{
  pointer-events : none;
  background: #cccccc;
}
.attention {
  color:$vivid-color;
}
.field_with_errors {
  display: inline;
}
.field_with_errors input[type="email"],
.field_with_errors input[type="number"],
.field_with_errors input[type="search"],
.field_with_errors input[type="text"],
.field_with_errors input[type="tel"],
.field_with_errors input[type="url"],
.field_with_errors input[type="password"],
.field_with_errors select,
.field_with_errors textarea{
  border-color: #f00;
}
.hover_box {
  transition:all 0.3s ease-out;
}

/* ヘッダー */
#top_nav{
  background: #fff;
  border-bottom: solid 1px $border-color;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
#top_nav .container{
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
#top_logo{
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  color: #7b6459;
}
#top_nav .nav-bar {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 1.6rem 0;
}
#top_nav .nav-bar li{
  margin-left: 2rem;
}
.button-primary.edit{
  background: $focus-color;
  &:hover {
    background: $focus-hover;
  }
}
.button-primary.delete{
  background: $vivid-color;
  &:hover {
    background: $vivid-hover;
  }
}
