/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$font-color: #333333;
$font-placeholder: #cccccc;
body {
  margin: 0;
  background-color: #f8f8f8;
  color: $font-color;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  margin: 0;
}
textarea {
  line-height: 1.6;
  letter-spacing: 0.1;
}
.checkbox_raw {
  margin-bottom: 15px;
}
.checkbox_raw input[type="checkbox"]{
  margin-bottom: 0;
}
.checkbox_raw label {
  display: inline-block;
  padding-left: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.select_raw select {
  margin-left:0.5rem;
  margin-right:0.5rem;
}
.select_raw select:first-child {
  margin-left:0;
}
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

input,textarea {
  @include placeholder($font-placeholder);
}
.hidden {
  display: none;
}
.disable input,.disable select{
  pointer-events : none;
  background: #cccccc;
}
.attention {
  color:#f00;
}
.field_with_errors {
  display: inline;
}
.field_with_errors input[type="email"],
.field_with_errors input[type="number"],
.field_with_errors input[type="search"],
.field_with_errors input[type="text"],
.field_with_errors input[type="tel"],
.field_with_errors input[type="url"],
.field_with_errors input[type="password"],
.field_with_errors select,
.field_with_errors textarea{
  border-color: #f00;
}
