// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base-color: #F2F5F6;
$middium-color: #8D99AF;
$thema-color: #DE3A5D;
$vivid-color: #FF436B;
$dark-color: #B82C5C;
$font-color: #412B2D;
$font-color-light: #8D99AF;
$font-placeholder: #cccccc;
$icon-color: #ff938b;
$border-color: #DAD8D4;
$focus-color: #33C3F0;
$hover_box: #F2F5F6;

.user_profile {
  overflow: hidden;
  padding: 3rem 0;
}
.user_profile .left {

}
.user_profile .avatar {
  height: 152px;
  width: 152px;
  margin: auto;
  background: $border-color;
  border-radius: 50%;
}
.user_profile .right {

}
.user_profile .name {
  font-size: 2.2rem;
  display: table-cell;
  padding-right: 4rem;
  line-height: 2.2;
}
.user_profile .edit, .user_profile .follow {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  line-height: 1;
}
.user_profile .edit .button2, .user_profile .follow .button2{
  padding: 0.8rem 3rem;
}
.user_profile .count {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
}
.user_profile .count li {
  margin-right: 4rem;
}
.user_profile .count li .number {
  padding: 0 0.75rem;
  font-weight: 600;
}
.user_profile .comment {
  margin-top: 1.5rem;
  word-wrap: break-word;
}
.user_profile .comment h6 {
  margin-bottom: 1rem;
}
.user_profile .comment textarea{
  width: 100%;
}
.card_list {
  border-top: dashed 1px $border-color;
  padding-top: 2.4rem;
}
.card_list h6 {
  display: block;
}
.card_list .title,.raw_list .title {
  display: table;
}
.card_list .title h6, .card_list .title span,.raw_list .title h6, .raw_list .title span {
  display: table-cell;
}
.user_profile input {
  width: 100%;
}
.card_list .submit {
  margin: auto;
  display: block;
}

/* ユーザーリスト */
.users_list li{
  background: #fff;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 2rem;
  border: solid 1px $border-color ;
}
.users_list li a {
  display: flex;
  flex-direction: row;
  width: 100%;
  &:hover {
    color: $font-color;
  }
}
.users_list li a:hover .user_name{
  color: $vivid-color;
}
.users_list li h3,.users_list li h4{
  margin-bottom: 0;
}
.users_list .left_column{
  width: 104px;
  padding-right:2rem;
}
.users_list .left_column img,.users_list .left_column div{
  display: block;
  height: 104px;
  width: 104px;
  border-radius: 50%;
  background: $border-color;
}
.users_list .right_column{
  display: block;
  height: auto;
}
.users_list .user_name{
  font-size: 1.8rem;
  font-weight: bold;
}
.users_list .pet_species{
  font-size: 1.4rem;
  color: $font-color-light;
}
.users_list .right_column span{
  display: block;
}
.users_list .right_column .user_comment{
  padding: 0.2rem 0 0.8rem;
}

/* ユーザーメニュー */

#user_menu_nav {
  display: flex;
  justify-content: center;
  border-top: 1px dashed $border-color;
  padding: 2rem 0 1rem;
}
#user_menu_nav ul{
  display: block;
  float: left;
}
#user_menu_nav li {
  display: block;
  float: left;
  margin: 0 1rem;
}
#user_menu_nav li a{
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
  border-left: solid 0.5rem $thema-color;
  background: #fff;
}


#relation_users .hover_box{
  display: flex;
}
#relation_users .right_column{
  width: 100%;
}
#relation_users .relation_box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px dashed $border-color;
  padding-top: 1rem;
}
#relation_users .relation_box form{
  display: inline-flex;
  margin: 0;
  padding: 0;
}
#relation_users .relation_box i{
  font-size: 2rem;
  margin-right: 1rem;
}
#relation_users .button2{
  display: block;
  padding: 0.5rem 2rem;
  width: 13rem;
  margin-right: 1rem;
}
#relation_users .relation_comment{
  width: 18rem;
}
.color_receive_follow{
  color: #bbbbbb;
}
.color_send_family{
  color: #62c1f0;
}
.color_receive_family{
  color: #ffc45e;
}
.color_family{
  color:$vivid-color;
}
